<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.easyagro">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".testeVisualizacao.MainActivityVisuTesteLeilao"></activity>
        <activity android:name=".testeVisualizacao.MainActivityVisutesteTalhao" />
        <activity android:name=".testeVisualizacao.MainActivityVisuTesteInsumo" />
        <activity android:name=".testeVisualizacao.MainActivityVisuTestePlatacao" />
        <activity android:name=".testeVisualizacao.MainActivityVisuTesteColheita" />
        <activity android:name=".testeVisualizacao.MainActivityVisuTesteCultura" />
        <activity android:name=".Leilao.MainActivityBuscarLeilao" />
        <activity android:name=".Leilao.MainActivityLanceLeilao" />
        <activity android:name=".Talhao.MainActivityGraficoTalhao" />
        <activity android:name=".Leilao.MainActivityGraficoLeilao" />
        <activity android:name=".Colheita.MainActivityGraficoColheita" />
        <activity android:name=".Cultura.MainActivityGraficoCultura" />
        <activity android:name=".Plantacao.MainActivityGraficoPlantacao" />
        <activity android:name=".Plantacao.MainActivityAplicacaoPlantacao" />
        <activity android:name=".Insumo.MainActivityGraficoInsumo" />
        <activity android:name=".Leilao.MainActivityListaLeilao" />
        <activity android:name=".Colheita.MainActivityListaColheita" />
        <activity android:name=".Talhao.MainActivityListaTalhao" />
        <activity android:name=".Cultura.MainActivityListaCultura" />
        <activity android:name=".Plantacao.MainActivityListaPlantacao" />
        <activity android:name=".Insumo.MainActivityLista_insumo" />
        <activity android:name=".CadastroUsuario.MainActivityUsuarioDif" />
        <activity android:name=".CadastroUsuario.MainActivityFinalzarCad" />
        <activity android:name=".CadastroUsuario.MainActivityCadastroSenha" />
        <activity android:name=".Login.Main2Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CadastroUsuario.MainActivityTipoUsuario" />
        <activity android:name=".CadastroUsuario.MainActivityInfoResidencia" />
        <activity android:name=".CadastroUsuario.MainActivityCadastroUsuario" />
        <activity android:name=".Leilao.MainActivityCadastroLeilao" />
        <activity android:name=".Talhao.MainActivityCadastroTalhao" />
        <activity android:name=".Colheita.MainActivityCadastroColheita" />
        <activity android:name=".Plantacao.MainActivityCadastroPlantacao" />
        <activity android:name=".Insumo.MainActivityCadastroInsumo" />
        <activity android:name=".Cultura.MainActivityCadastroCultura" />
        <activity android:name=".MenuPrincipal.MainActivity" />
    </application>

</manifest>