<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.easyagro">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivityListaLeilao"></activity>
        <activity android:name=".MainActivityListaColheita" />
        <activity android:name=".MainActivityListaTalhao" />
        <activity android:name=".MainActivityListaCultura" />
        <activity android:name=".MainActivityListaPlantacao" />
        <activity android:name=".MainActivityLista_insumo" />
        <activity android:name=".MainActivityUsuarioDif" />
        <activity android:name=".MainActivityFinalzarCad" />
        <activity android:name=".MainActivityCadastroSenha" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivityTipoUsuario" />
        <activity android:name=".MainActivityInfoResidencia" />
        <activity android:name=".MainActivityCadastroUsuario" />
        <activity android:name=".MainActivityCadastroLeilao" />
        <activity android:name=".MainActivityCadastroTalhao" />
        <activity android:name=".MainActivityCadastroColheita" />
        <activity android:name=".MainActivityCadastroPlantacao" />
        <activity android:name=".MainActivityCadastroInsumo" />
        <activity android:name=".MainActivityCadastroCultura" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>